<div id="content" class="content-area page-wrapper" role="main">
    <div class="row row-main">
        <div class="large-12 col">
            <div class="col-inner">




                <div class="row" id="row-2093974405">


                    <div id="col-585871768" class="col small-12 large-12">
                        <div class="col-inner">



                            <p><strong><span><span><a href="assets/img/news.com/">Trang chủ</a></span> / <span><a
                                                href="assets/img/news.com/du-an/">Dự án</a></span> / <span
                                            class="breadcrumb_last" aria-current="page">Biệt thự</span></span></strong>
                            </p>



                            <div class="row large-columns-2 medium-columns-1 small-columns-1">
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/cong-trinh-tran-quang-dieu-ha-noi/" class="plain"
                                                        aria-label="CÔNG TRÌNH TRẦN QUANG DIỆU – HÀ NỘI">
                                                        <img fetchpriority="high" decoding="async" width="300"
                                                            height="300"
                                                            src="assets/img/news/406277173_219150907873083_3330187268673035931_n-300x300.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/406277173_219150907873083_3330187268673035931_n-300x300.jpg 300w, assets/img/news/406277173_219150907873083_3330187268673035931_n-1024x1024.jpg 1024w, assets/img/news/406277173_219150907873083_3330187268673035931_n-150x150.jpg 150w, assets/img/news/406277173_219150907873083_3330187268673035931_n-768x768.jpg 768w, assets/img/news/406277173_219150907873083_3330187268673035931_n-1536x1536.jpg 1536w, assets/img/news/406277173_219150907873083_3330187268673035931_n-600x600.jpg 600w, assets/img/news/406277173_219150907873083_3330187268673035931_n-100x100.jpg 100w, assets/img/news/406277173_219150907873083_3330187268673035931_n.jpg 2048w"
                                                            sizes="(max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/cong-trinh-tran-quang-dieu-ha-noi/"
                                                            class="plain">CÔNG TRÌNH TRẦN QUANG DIỆU – HÀ NỘI</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Nghiệm thu sản phẩm cửa Composite
                                                        KB Door lắp đặt tại Trần Quang Diệu – [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">19</span><br>
                                                    <span class="post-date-month is-xsmall">Th3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/cong-trinh-khu-van-phong-ngoc-khanh-ba-dinh-ha-noi/"
                                                        class="plain"
                                                        aria-label="CÔNG TRÌNH NGUYỄN CHÍ THANH- BA ĐÌNH- HÀ NỘI">
                                                        <img decoding="async" width="300" height="300"
                                                            src="assets/img/news/411418845_229746303480210_3558109186775228300_n-300x300.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/411418845_229746303480210_3558109186775228300_n-300x300.jpg 300w, assets/img/news/411418845_229746303480210_3558109186775228300_n-1024x1024.jpg 1024w, assets/img/news/411418845_229746303480210_3558109186775228300_n-150x150.jpg 150w, assets/img/news/411418845_229746303480210_3558109186775228300_n-768x768.jpg 768w, assets/img/news/411418845_229746303480210_3558109186775228300_n-1536x1536.jpg 1536w, assets/img/news/411418845_229746303480210_3558109186775228300_n-600x600.jpg 600w, assets/img/news/411418845_229746303480210_3558109186775228300_n-100x100.jpg 100w, assets/img/news/411418845_229746303480210_3558109186775228300_n.jpg 2048w"
                                                            sizes="(max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/cong-trinh-khu-van-phong-ngoc-khanh-ba-dinh-ha-noi/"
                                                            class="plain">CÔNG TRÌNH NGUYỄN CHÍ THANH- BA ĐÌNH- HÀ
                                                            NỘI</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt "> [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">15</span><br>
                                                    <span class="post-date-month is-xsmall">Th3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/tuyen-dung-va-hop-tac-nha-phan-phoi-dai-ly-don-vi-thi-cong/"
                                                        class="plain"
                                                        aria-label="TUYỂN DỤNG VÀ HỢP TÁC NHÀ PHÂN PHỐI – ĐẠI LÝ – ĐƠN VỊ THI CÔNG">
                                                        <img decoding="async" width="300" height="225"
                                                            src="assets/img/news/31-01-300x225.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/31-01-300x225.jpg 300w, assets/img/news/31-01-1024x768.jpg 1024w, assets/img/news/31-01-768x576.jpg 768w, assets/img/news/31-01-1536x1152.jpg 1536w, assets/img/news/31-01-2048x1536.jpg 2048w, assets/img/news/31-01-600x450.jpg 600w"
                                                            sizes="(max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/tuyen-dung-va-hop-tac-nha-phan-phoi-dai-ly-don-vi-thi-cong/"
                                                            class="plain">TUYỂN DỤNG VÀ HỢP TÁC NHÀ PHÂN PHỐI – ĐẠI LÝ –
                                                            ĐƠN VỊ THI CÔNG</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Với tiêu chí mang đến những bộ cửa
                                                        chất lượng cao với giá thành phù [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">02</span><br>
                                                    <span class="post-date-month is-xsmall">Th3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/lua-chon-thong-thai-voi-cua-go-nhua-composite/"
                                                        class="plain"
                                                        aria-label="LỰA CHỌN THÔNG THÁI VỚI CỬA GỖ NHỰA COMPOSITE">
                                                        <img loading="lazy" decoding="async" width="300" height="225"
                                                            src="assets/img/news/1-03-4-300x225.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/1-03-4-300x225.jpg 300w, assets/img/news/1-03-4-1024x768.jpg 1024w, assets/img/news/1-03-4-768x576.jpg 768w, assets/img/news/1-03-4-1536x1153.jpg 1536w, assets/img/news/1-03-4-600x450.jpg 600w, assets/img/news/1-03-4.jpg 1667w"
                                                            sizes="auto, (max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/lua-chon-thong-thai-voi-cua-go-nhua-composite/"
                                                            class="plain">LỰA CHỌN THÔNG THÁI VỚI CỬA GỖ NHỰA
                                                            COMPOSITE</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Được sản xuất bằng công nghệ hiện
                                                        đại và tiên tiến, mang đến cho khách [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">27</span><br>
                                                    <span class="post-date-month is-xsmall">Th10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/880/" class="plain"
                                                        aria-label="CỬA GỖ NHỰA COMPOSITE- XU HƯỚNG CỬA THÔNG MINH">
                                                        <img loading="lazy" decoding="async" width="300" height="225"
                                                            src="assets/img/news/122-01-300x225.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/122-01-300x225.jpg 300w, assets/img/news/122-01-1024x768.jpg 1024w, assets/img/news/122-01-768x576.jpg 768w, assets/img/news/122-01-1536x1152.jpg 1536w, assets/img/news/122-01-2048x1536.jpg 2048w, assets/img/news/122-01-600x450.jpg 600w"
                                                            sizes="auto, (max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/880/" class="plain">CỬA GỖ NHỰA COMPOSITE- XU
                                                            HƯỚNG CỬA THÔNG MINH</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Những ưu điểm vượt trội cửa Cửa gỗ
                                                        nhựa Composite... [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">23</span><br>
                                                    <span class="post-date-month is-xsmall">Th10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/tu-bep-mat-acrylic/" class="plain"
                                                        aria-label="ACRYLIC – BÊ MẶT HOÀN HẢO CHO ĐỒ NỘI THẤT">
                                                        <img loading="lazy" decoding="async" width="300" height="225"
                                                            src="assets/img/news/1-05-2-300x225.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/1-05-2-300x225.jpg 300w, assets/img/news/1-05-2-1024x768.jpg 1024w, assets/img/news/1-05-2-768x576.jpg 768w, assets/img/news/1-05-2-1536x1152.jpg 1536w, assets/img/news/1-05-2-600x450.jpg 600w, assets/img/news/1-05-2.jpg 1670w"
                                                            sizes="auto, (max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/tu-bep-mat-acrylic/" class="plain">ACRYLIC – BÊ
                                                            MẶT HOÀN HẢO CHO ĐỒ NỘI THẤT</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Biến không gian sống của gia đình
                                                        trở nên sang trọng và hiện đại với [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">19</span><br>
                                                    <span class="post-date-month is-xsmall">Th10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/noi-that-phong-ngu/" class="plain"
                                                        aria-label="PHÒNG NGỦ – NƠI TRỞ THÀNH CHÍNH MÌNH">
                                                        <img loading="lazy" decoding="async" width="300" height="225"
                                                            src="assets/img/news/1-01-1-300x225.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/1-01-1-300x225.jpg 300w, assets/img/news/1-01-1-1024x768.jpg 1024w, assets/img/news/1-01-1-768x576.jpg 768w, assets/img/news/1-01-1-1536x1152.jpg 1536w, assets/img/news/1-01-1-600x450.jpg 600w, assets/img/news/1-01-1.jpg 1667w"
                                                            sizes="auto, (max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/noi-that-phong-ngu/" class="plain">PHÒNG NGỦ – NƠI
                                                            TRỞ THÀNH CHÍNH MÌNH</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">KIẾN TẠO KHÔNG GIAN CỦA CHÍNH BẠN
                                                        [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">13</span><br>
                                                    <span class="post-date-month is-xsmall">Th10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/thiet-ke-noi-that-cho-khong-gian-nho-hep/"
                                                        class="plain"
                                                        aria-label="THIẾT KẾ NỘI THẤT CHO KHÔNG GIAN NHỎ HẸP">
                                                        <img loading="lazy" decoding="async" width="300" height="225"
                                                            src="assets/img/news/1-05-300x225.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/1-05-300x225.jpg 300w, assets/img/news/1-05-1024x768.jpg 1024w, assets/img/news/1-05-768x576.jpg 768w, assets/img/news/1-05-1536x1152.jpg 1536w, assets/img/news/1-05-600x450.jpg 600w, assets/img/news/1-05.jpg 1670w"
                                                            sizes="auto, (max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/thiet-ke-noi-that-cho-khong-gian-nho-hep/"
                                                            class="plain">THIẾT KẾ NỘI THẤT CHO KHÔNG GIAN NHỎ HẸP</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">KHÔNG GIAN NHỎ HẸP- THIẾT KẾ NỘI
                                                        THẤT THẾ NÀO ? [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">12</span><br>
                                                    <span class="post-date-month is-xsmall">Th10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/phong-cach-noi-that-tropical/" class="plain"
                                                        aria-label="PHONG CÁCH NỘI THẤT TROPICAL">
                                                        <img loading="lazy" decoding="async" width="300" height="169"
                                                            src="assets/img/news/cac-sac-xanh-noi-bat-trong-phong-cach-noi-that-tropical-300x169.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news/cac-sac-xanh-noi-bat-trong-phong-cach-noi-that-tropical-300x169.jpg 300w, assets/img/news/cac-sac-xanh-noi-bat-trong-phong-cach-noi-that-tropical-1024x576.jpg 1024w, assets/img/news/cac-sac-xanh-noi-bat-trong-phong-cach-noi-that-tropical-768x432.jpg 768w, assets/img/news/cac-sac-xanh-noi-bat-trong-phong-cach-noi-that-tropical-600x338.jpg 600w, assets/img/news/cac-sac-xanh-noi-bat-trong-phong-cach-noi-that-tropical.jpg 1400w"
                                                            sizes="auto, (max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/phong-cach-noi-that-tropical/" class="plain">PHONG
                                                            CÁCH NỘI THẤT TROPICAL</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">TROPICAL style – MANG HƠI THỞ
                                                        THIÊN NHIÊN VÀO KHÔNG GIAN SỐNG CỦA BẠN [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">04</span><br>
                                                    <span class="post-date-month is-xsmall">Th8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col post-item">
                                    <div class="col-inner">
                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56.25%;">
                                                    <a href="news/phong-cach-noi-that-scandinavian/" class="plain"
                                                        aria-label="PHONG CÁCH NỘI THẤT SCANDINAVIAN">
                                                        <img loading="lazy" decoding="async" width="300" height="169"
                                                            src="assets/img/news/grey-and-light-wood-Scandinavian-kitchen-300x169.jpg"
                                                            class="attachment-medium size-medium wp-post-image" alt=""
                                                            srcset="assets/img/news.com/wp-content/uploads/2023/09/grey-and-light-wood-Scandinavian-kitchen-300x169.jpg 300w, assets/img/news.com/wp-content/uploads/2023/09/grey-and-light-wood-Scandinavian-kitchen-1024x576.jpg 1024w, assets/img/news.com/wp-content/uploads/2023/09/grey-and-light-wood-Scandinavian-kitchen-768x432.jpg 768w, assets/img/news.com/wp-content/uploads/2023/09/grey-and-light-wood-Scandinavian-kitchen-600x338.jpg 600w, assets/img/news.com/wp-content/uploads/2023/09/grey-and-light-wood-Scandinavian-kitchen.jpg 1200w"
                                                            sizes="auto, (max-width: 300px) 100vw, 300px"> </a>
                                                </div>
                                            </div>
                                            <div class="box-text text-center">
                                                <div class="box-text-inner blog-post-inner">


                                                    <h5 class="post-title is-large ">
                                                        <a href="news/phong-cach-noi-that-scandinavian/"
                                                            class="plain">PHONG CÁCH NỘI THẤT SCANDINAVIAN</a>
                                                    </h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">MANG " HƠI THỞ CHÂU ÂU " VÀO NGÔI
                                                        NHÀ CỦA BẠN [...] </p>



                                                </div>
                                            </div>
                                            <div class="badge absolute top post-date badge-outline">
                                                <div class="badge-inner">
                                                    <span class="post-date-day">02</span><br>
                                                    <span class="post-date-month is-xsmall">Th8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>



                </div>



            </div>
        </div>
    </div>
</div>