

nz-carousel {
  height: 85vh;
  aspect-ratio: 2048 / 904;
  overflow: hidden;
  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}

.flickity-button  {
  z-index: 10000;
}

[nz-carousel-content] {
  background: #fff;
}
