<div class="row category-page-row">
  <div class="col large-12">
    <div class="shop-container">
      <div class="term-description">
        <p [innerText]="pageTitle(productType)"></p>
      </div>
      <div class="woocommerce-notices-wrapper"></div>
      <div
        class="products row row-small large-columns-4 medium-columns-3 small-columns-2"
      >
        <div
          class="products row row-small large-columns-4 medium-columns-3 small-columns-2"
        >
          <div
            *ngFor="let product of pageData"
            class="product-small col has-hover product type-product post-647 status-publish first instock product_cat-cua-go-nhua-composite product_tag-cua-go-nhua product_tag-cua-go-nhua-composite product_tag-cua-phong-tam product_tag-cua-thong-phong has-post-thumbnail shipping-taxable purchasable product-type-simple"
          >
            <div class="col-inner">
              <div class="badge-container absolute left top z-1"></div>
              <div class="product-small box">
                <div class="box-image">
                  <div class="image-fade_in_back">
                    <a
                      [routerLink]="'/chi-tiet/' + product.url"
                      [attr.aria-label]="
                        'Xem chi tiết về ' + product.productName
                      "
                    >
                      <!-- <a [routerLink]="['', product.url]" aria-label=`${product.productName}`> -->
                      <img
                        width="300"
                        height="300"
                        [src]="product.pic"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                        alt=""
                        decoding="async"
                        fetchpriority="high"
                        sizes="(max-width: 300px) 100vw, 300px"
                        [srcset]="product.pic + '?w=11866 11866w, ' +
                        product.pic + '?w=300 300w, ' +
                        product.pic + '?w=1024 1024w, ' +
                        product.pic + '?w=768 768w, ' +
                        product.pic + '?w=1536 1536w, ' +
                        product.pic + '?w=2048 2048w, ' +
                        product.pic + '?w=600 600w'"
                      /><img
                        width="300"
                        height="300"
                        src="assets/img/product-page/KB-01-SA-01-300x300.jpg"
                        class="show-on-hover absolute fill hide-for-small back-image"
                        alt=""
                        decoding="async"
                        sizes="(max-width: 300px) 100vw, 300px"
                        srcset="assets/img/product-page/KB-01-SA-01-300x300.jpg?w=11866 11866w, 
                        assets/img/product-page/KB-01-SA-01-300x300.jpg?w=300 300w, 
                        assets/img/product-page/KB-01-SA-01-300x300.jpg?w=1024 1024w, 
                        assets/img/product-page/KB-01-SA-01-300x300.jpg?w=768 768w, 
                        assets/img/product-page/KB-01-SA-01-300x300.jpg?w=1536 1536w, 
                        assets/img/product-page/KB-01-SA-01-300x300.jpg?w=2048 2048w, 
                        assets/img/product-page/KB-01-SA-01-300x300.jpg?w=600 600w"
                      />
                    </a>
                  </div>
                </div>

                <div
                  class="box-text box-text-products flex-row align-top grid-style-3 flex-wrap"
                >
                  <div class="title-wrapper">
                    <p
                      class="category uppercase is-smaller no-text-overflow product-cat op-7"
                    >
                      {{ typeText(product.type) }}
                    </p>
                    <p
                      class="name product-title woocommerce-loop-product__title"
                    >
                      <a
                        [routerLink]="product.url"
                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                        >{{ product.productName }}</a
                      >
                    </p>
                  </div>
                  <div class="price-wrapper">
                    <span class="price"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          >{{
                            product.productPrice | number : "1.0-0"
                          }}&nbsp;<span class="woocommerce-Price-currencySymbol"
                            >₫</span
                          ></bdi
                        ></span
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="container">
          <nz-pagination
            [(nzPageIndex)]="PageIndex"
            [nzPageSize]="PageSize"
            (nzPageIndexChange)="indexChange($event)"
            [nzTotal]="data.length"
            (nzPageSizeChange)="pageSizeChange($event)"
          ></nz-pagination>
        </div>
        <div
          id="gap-1957210571"
          class="gap-element clearfix"
          style="display: block; height: auto"
        >
          <style>
            #gap-1957210571 {
              padding-top: 30px;
            }
          </style>
        </div>

        <div class="container section-title-container">
          <h3 class="section-title section-title-center">
            <b></b><span class="section-title-main">Sản phẩm vừa xem</span
            ><b></b>
          </h3>
        </div>

        <p></p>
        <div id="cpd-recently--wrap">
          <div class="cpd-container">
            <div
              class="row large-columns-4 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-reveal slider-nav-push is-draggable flickity-enabled"
              data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'
              tabindex="0"
            >
              <div
                class="flickity-viewport"
                style="height: 430.938px; touch-action: pan-y"
              >
                <div
                  class="flickity-slider"
                  [style]="'left: 0px; transform: translateX(-0%)'"
                >
                  <nz-empty
                    *ngIf="slideData.length == 0"
                    nzNotFoundContent="Chưa có dữ liệu"
                  ></nz-empty>
                  <div
                    *ngFor="let product of slideData; let i = index"
                    class="product-small col has-hover product type-product post-615 status-publish first instock product_cat-cua-go-nhua-composite product_tag-cua-2-canh product_tag-cua-chinh product_tag-cua-go-nhua-composite has-post-thumbnail shipping-taxable purchasable product-type-simple is-selected"
                    [style]="'position: absolute; left:' + i * 100/slideSize + '%'"
                  >
                    <div class="col-inner">
                      <div class="badge-container absolute left top z-1"></div>
                      <div class="product-small box">
                        <div class="box-image">
                          <div class="image-fade_in_back">
                            <a
                              [routerLink]="'/chi-tiet/' + product.url"
                              [attr.aria-label]="
                                'Xem chi tiết về ' + product.productName
                              "
                            >
                              <img
                                width="300"
                                height="300"
                                [src]="product.pic"
                                class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                alt=""
                                decoding="async"
                                loading="lazy"
                                sizes="auto, (max-width: 300px) 100vw, 300px"
                                [srcset]="product.pic + '?w=11866 11866w, ' +
                                product.pic + '?w=300 300w, ' +
                                product.pic + '?w=1024 1024w, ' +
                                product.pic + '?w=768 768w, ' +
                                product.pic + '?w=1536 1536w, ' +
                                product.pic + '?w=2048 2048w, ' +
                                product.pic + '?w=600 600w'"
                                />
                            </a>
                          </div>
                        </div>

                        <div
                          class="box-text box-text-products flex-row align-top grid-style-3 flex-wrap"
                        >
                          <div class="title-wrapper">
                            <p
                              class="category uppercase is-smaller no-text-overflow product-cat op-7"
                            >
                              {{ typeText(product.type) }}
                            </p>
                            <p
                              class="name product-title woocommerce-loop-product__title"
                            >
                              <a
                                [routerLink]="product.url"
                                class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                                >{{ product.productName }}</a
                              >
                            </p>
                          </div>
                          <div class="price-wrapper">
                            <span class="price"
                              ><span class="woocommerce-Price-amount amount"
                                ><bdi
                                  >{{
                                    product.productPrice | number : "1.0-0"
                                  }}&nbsp;<span
                                    class="woocommerce-Price-currencySymbol"
                                    >₫</span
                                  ></bdi
                                ></span
                              ></span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="flickity-button flickity-prev-next-button previous"
                type="button"
                aria-label="Previous"
                (click)="prevSlide()"
              >
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path
                    d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                    class="arrow"
                  ></path>
                </svg></button
              ><button
                class="flickity-button flickity-prev-next-button next"
                type="button"
                aria-label="Next"
                (click)="nextSlide()"
              >
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path
                    d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                    class="arrow"
                    transform="translate(100, 100) rotate(180) "
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <p></p>

        <div class="row large-columns-2 medium-columns-1 small-columns-1">
          <div class="col post-item">
            <div class="col-inner">
              <div
                class="box box-normal box-text-bottom box-blog-post has-hover"
              >
                <div class="box-image">
                  <div class="image-cover" style="padding-top: 56.25%">
                    <a
                      routerLink="/blog/cong-trinh-duong-van-be-hoang-mai/"
                      class="plain"
                      aria-label="CÔNG TRÌNH DƯƠNG VĂN BÉ – HOÀNG MAI"
                    >
                      <img
                        width="225"
                        height="300"
                        src="assets/img/producttype-page/441312691_320492447738928_5030056107160077507_n-225x300.jpg"
                        class="attachment-medium size-medium wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        sizes="auto, (max-width: 225px) 100vw, 225px"
                      />
                    </a>
                  </div>
                </div>
                <div class="box-text text-center">
                  <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large">
                      <a
                        routerLink="/blog/cong-trinh-duong-van-be-hoang-mai/"
                        class="plain"
                        >CÔNG TRÌNH DƯƠNG VĂN BÉ – HOÀNG MAI</a
                      >
                    </h5>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt">
                      Lắp đặt và nghiệm thu sản phẩm cửa Composite KB Door cánh
                      chỉ sơn tại [...]
                    </p>
                  </div>
                </div>
                <div class="badge absolute top post-date badge-outline">
                  <div class="badge-inner">
                    <span class="post-date-day">16</span><br />
                    <span class="post-date-month is-xsmall">Th5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col post-item">
            <div class="col-inner">
              <div
                class="box box-normal box-text-bottom box-blog-post has-hover"
              >
                <div class="box-image">
                  <div class="image-cover" style="padding-top: 56.25%">
                    <a
                      routerLink="/blog/ly-do-nen-chon-cua-go-composite/"
                      class="plain"
                      aria-label="LÝ DO NÊN CHỌN CỬA GỖ COMPOSITE"
                    >
                      <img
                        width="300"
                        height="300"
                        src="assets/img/producttype-page/386067336_187252144396293_425490963523801210_n-300x300.jpg"
                        class="attachment-medium size-medium wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        sizes="auto, (max-width: 300px) 100vw, 300px"
                      />
                    </a>
                  </div>
                </div>
                <div class="box-text text-center">
                  <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large">
                      <a
                        routerLink="/blog/ly-do-nen-chon-cua-go-composite/"
                        class="plain"
                        >LÝ DO NÊN CHỌN CỬA GỖ COMPOSITE</a
                      >
                    </h5>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt">
                      Trở thành sản phẩm được ưa chuộng để lắp đặt cho cửa thông
                      phòng và [...]
                    </p>
                  </div>
                </div>
                <div class="badge absolute top post-date badge-outline">
                  <div class="badge-inner">
                    <span class="post-date-day">08</span><br />
                    <span class="post-date-month is-xsmall">Th5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col post-item">
            <div class="col-inner">
              <div
                class="box box-normal box-text-bottom box-blog-post has-hover"
              >
                <div class="box-image">
                  <div class="image-cover" style="padding-top: 56.25%">
                    <a
                      routerLink="/blog/nhung-dieu-can-biet-ve-cua-go-nhua-composite/"
                      class="plain"
                      aria-label="NHỮNG ĐIỀU CẦN BIẾT VỀ CỬA GỖ NHỰA COMPOSITE"
                    >
                      <img
                        width="300"
                        height="259"
                        src="assets/img/producttype-page/433622897_291488830639290_1165563850270327400_n-300x259.jpg"
                        class="attachment-medium size-medium wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        sizes="auto, (max-width: 300px) 100vw, 300px"
                      />
                    </a>
                  </div>
                </div>
                <div class="box-text text-center">
                  <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large">
                      <a
                        routerLink="/blog/nhung-dieu-can-biet-ve-cua-go-nhua-composite/"
                        class="plain"
                        >NHỮNG ĐIỀU CẦN BIẾT VỀ CỬA GỖ NHỰA COMPOSITE</a
                      >
                    </h5>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt">
                      Được sản xuất với 2 nguyên liệu chính là bột gỗ và bột
                      nhựa, kết [...]
                    </p>
                  </div>
                </div>
                <div class="badge absolute top post-date badge-outline">
                  <div class="badge-inner">
                    <span class="post-date-day">23</span><br />
                    <span class="post-date-month is-xsmall">Th4</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col post-item">
            <div class="col-inner">
              <div
                class="box box-normal box-text-bottom box-blog-post has-hover"
              >
                <div class="box-image">
                  <div class="image-cover" style="padding-top: 56.25%">
                    <a
                      routerLink="/blog/cong-trinh-bac-giang/"
                      class="plain"
                      aria-label="CÔNG TRÌNH BẮC GIANG"
                    >
                      <img
                        width="300"
                        height="300"
                        src="assets/img/producttype-page/401588885_211921415262699_1755972951023720929_n-300x300.jpg"
                        class="attachment-medium size-medium wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        sizes="auto, (max-width: 300px) 100vw, 300px"
                      />
                    </a>
                  </div>
                </div>
                <div class="box-text text-center">
                  <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large">
                      <a routerLink="/blog/cong-trinh-bac-giang/" class="plain"
                        >CÔNG TRÌNH BẮC GIANG</a
                      >
                    </h5>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt">
                      Lắp đặt và nghiệm thu sản phẩm cửa Composite KB Door cánh
                      trơn phẳng lắp [...]
                    </p>
                  </div>
                </div>
                <div class="badge absolute top post-date badge-outline">
                  <div class="badge-inner">
                    <span class="post-date-day">19</span><br />
                    <span class="post-date-month is-xsmall">Th4</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- shop container -->
    </div>
  </div>
</div>
