<main id="main" class="">
  <div id="content" role="main" class="content-area">
    <div class="banner has-hover" id="banner-1004911451">
      <div class="banner-inner fill">
        <div class="banner-bg fill">
          <div class="bg fill bg-fill bg-loaded"></div>
          <div class="overlay"></div>
        </div>

        <div class="banner-layers container">
          <div class="fill banner-link"></div>

          <div
            id="text-box-1610770461"
            class="text-box banner-layer x5 md-x5 lg-x5 y50 md-y50 lg-y50 res-text"
          >
            <div class="text-box-content text dark">
              <div class="text-inner text-left">
                <h3 class="alt-font">Góc cảm hứng</h3>
                <h1 class="uppercase">
                  <strong
                    >Ý TƯỞNG<br />
                    KHÔNG GIAN<br />
                    SỐNG</strong
                  >
                </h1>
                <a
                  href="https://kinhbacfurniture.com/2023/10/12/thiet-ke-noi-that-cho-khong-gian-nho-hep/"
                  target="_self"
                  class="button primary is-outline is-larger"
                >
                  <span>Xem thêm</span>
                </a>
              </div>
            </div>

            <style>
              #text-box-1610770461 {
                width: 60%;
              }

              #text-box-1610770461 .text-box-content {
                font-size: 100%;
              }

              @media (min-width: 550px) {
                #text-box-1610770461 {
                  width: 35%;
                }
              }
            </style>
          </div>
        </div>
      </div>

      <style>
        #banner-1004911451 {
          padding-top: 600px;
        }

        #banner-1004911451 .bg.bg-loaded {
          background-image: url(/assets/img/project-page/pic1.jpg);
        }

        #banner-1004911451 .overlay {
          background-color: rgba(0, 0, 0, 0.31);
        }
      </style>
    </div>

    <div class="row" id="row-2066910772">
      <div id="col-1860699276" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div id="text-3143919805" class="text">
            <h2>ĐỘI NGŨ THIẾT KẾ VỚI VÔ VÀN Ý TƯỞNG&nbsp;</h2>
            <p>
              Đến với Kinh Bắc, đội ngũ nhân viên thiết kế luôn sẵn sàng lắng
              nghe, tư vấn và mang đến&nbsp; những không gian sống sang trọng
              nhất, phù hợp với ý tưởng cuả Quý khách hàng…
            </p>
            <h2>ĐỘI NGŨ SẢN XUẤT LUÔN SẴN SÀNG</h2>
            <p>
              Sở hữu 02 nhà máy sản xuất, bên cạnh đó luôn có 20 nhân sự với
              nhiều năm trong ngành sản xuất nội thất luôn sẵn sàng tạo ra những
              sản phẩm theo đúng thiết kế đã được Quý khách hàng lựa chọn…
            </p>
            <h2>QUY TRÌNH HOÀN THIỆN KHÉP KÍN</h2>
            <ul>
              <li>Lắng nghe mong muốn của Khách hàng.</li>
              <li>
                Hướng dẫn, tư vấn Khách hàng lựa chọn xu hướng nội thất phù hợp.
              </li>
              <li>
                Lên bản vẽ mặt bằng, bản vẽ kỹ 3D giúp Khách hàng hình dung thực
                tế.
              </li>
              <li>Gửi bảng báo giá cho Khách hàng.</li>
              <li>Sản xuất theo bản vẽ đã được duyệt</li>
              <li>Đóng gói cẩn thận, vận chuyển đến tận chân công trình.</li>
              <li>Lắp đặt hoàn thiện, vệ sinh sản phẩm và bàn giao.</li>
            </ul>
            <p>&nbsp;</p>

            <style>
              #text-3143919805 {
                color: rgb(147, 1, 1);
              }

              #text-3143919805 > * {
                color: rgb(147, 1, 1);
              }
            </style>
          </div>
        </div>
      </div>

      <div id="col-1785272128" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div
            class="img has-hover x md-x lg-x y md-y lg-y"
            id="image_1943776530"
          >
            <div class="img-inner image-cover dark" style="padding-top: 75%">
              <img
                fetchpriority="high"
                decoding="async"
                width="1200"
                height="800"
                src="/assets/img/project-page/img01.jpeg"
                class="attachment-original size-original"
                alt=""
                sizes="(max-width: 1200px) 100vw, 1200px"
              />
            </div>

            <style>
              #image_1943776530 {
                width: 100%;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row-6584332">
      <div id="col-1406809095" class="col small-12 large-12">
        <div class="col-inner">
          <div
            class="img has-hover x md-x lg-x y md-y lg-y"
            id="image_1741103746"
          >
            <div class="img-inner image-cover dark" style="padding-top: 75%">
              <img
                decoding="async"
                width="2047"
                height="1638"
                src="/assets/img/project-page/3.jpg"
                class="attachment-original size-original"
                alt=""
                sizes="(max-width: 2047px) 100vw, 2047px"
              />
            </div>

            <style>
              #image_1741103746 {
                width: 100%;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
    <div class="container section-title-container">
      <h1 class="section-title section-title-center">
        <b></b><span class="section-title-main">Bộ sưu tập các dự án</span
        ><b></b>
      </h1>
    </div>

    <div class="row" id="row-1502196463">
      <div id="col-1995764345" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div
            class="box has-hover cpd_posts_category has-hover box-badge hover-dark box-text-bottom"
          >
            <div class="box-image">
              <a href="https://kinhbacfurniture.com/nhaxinh/du-an/biet-thu/">
                <div class="image-zoom image-cover" style="padding-top: 56.25%">
                  <img
                    decoding="async"
                    width="1800"
                    height="1101"
                    src="/assets/img/project-page/img03.jpeg"
                    class="attachment- size-"
                    alt=""
                    sizes="(max-width: 1800px) 100vw, 1800px"
                  />
                  <div
                    class="overlay"
                    style="background-color: rgba(64, 40, 27, 0.459)"
                  ></div>
                </div>
              </a>
            </div>

            <div
              class="box-text text-center"
              style="background-color: rgba(0, 0, 0, 0.7)"
            >
              <div class="box-text-inner">
                <div id="text-1591474201" class="text">
                  <h1>BIỆT THỰ</h1>

                  <style>
                    #text-1591474201 {
                      font-size: 1rem;
                      color: rgb(255, 255, 255);
                    }

                    #text-1591474201 > * {
                      color: rgb(255, 255, 255);
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="col-963960215" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div
            class="box has-hover cpd_posts_category has-hover box-badge hover-dark box-text-bottom"
          >
            <div class="box-image">
              <a href="https://kinhbacfurniture.com/nhaxinh/du-an/hotel-resort">
                <div class="image-zoom image-cover" style="padding-top: 56.25%">
                  <img
                    decoding="async"
                    width="1800"
                    height="1101"
                    src="/assets/img/project-page/img03.jpeg"
                    class="attachment- size-"
                    alt=""
                    sizes="(max-width: 1800px) 100vw, 1800px"
                  />
                  <div
                    class="overlay"
                    style="background-color: rgba(64, 40, 27, 0.459)"
                  ></div>
                </div>
              </a>
            </div>

            <div
              class="box-text text-center"
              style="background-color: rgba(0, 0, 0, 0.7)"
            >
              <div class="box-text-inner">
                <div id="text-1439596120" class="text">
                  <h1>HOTEL &amp; RESORT</h1>

                  <style>
                    #text-1439596120 {
                      font-size: 1rem;
                      color: rgb(255, 255, 255);
                    }

                    #text-1439596120 > * {
                      color: rgb(255, 255, 255);
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row-1278889622">
      <div id="col-1113549235" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div
            class="box has-hover cpd_posts_category has-hover box-badge hover-dark box-text-bottom"
          >
            <div class="box-image">
              <a
                href="https://kinhbacfurniture.com/nhaxinh/du-an/can-ho-cao-cap"
              >
                <div class="image-zoom image-cover" style="padding-top: 56.25%">
                  <img
                    decoding="async"
                    width="1800"
                    height="1101"
                    src="/assets/img/project-page/img03.jpeg"
                    class="attachment- size-"
                    alt=""
                    sizes="(max-width: 1800px) 100vw, 1800px"
                  />
                  <div
                    class="overlay"
                    style="background-color: rgba(64, 40, 27, 0.459)"
                  ></div>
                </div>
              </a>
            </div>

            <div
              class="box-text text-center"
              style="background-color: rgba(0, 0, 0, 0.7)"
            >
              <div class="box-text-inner">
                <div id="text-942397878" class="text">
                  <h1>CĂN HỘ CAO CẤP</h1>

                  <style>
                    #text-942397878 {
                      font-size: 1rem;
                      color: rgb(255, 255, 255);
                    }

                    #text-942397878 > * {
                      color: rgb(255, 255, 255);
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="col-685563753" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div
            class="box has-hover cpd_posts_category has-hover box-badge hover-dark box-text-bottom"
          >
            <div class="box-image">
              <a href="https://kinhbacfurniture.com/nhaxinh/du-an/nha-o">
                <div class="image-zoom image-cover" style="padding-top: 56.25%">
                  <img
                    decoding="async"
                    width="1800"
                    height="1101"
                    src="/assets/img/project-page/img03.jpeg"
                    class="attachment- size-"
                    alt=""
                    sizes="(max-width: 1800px) 100vw, 1800px"
                  />
                  <div
                    class="overlay"
                    style="background-color: rgba(64, 40, 27, 0.459)"
                  ></div>
                </div>
              </a>
            </div>

            <div
              class="box-text text-center"
              style="background-color: rgba(0, 0, 0, 0.7)"
            >
              <div class="box-text-inner">
                <div id="text-956944229" class="text">
                  <h1>NHÀ Ở</h1>

                  <style>
                    #text-956944229 {
                      font-size: 1rem;
                      color: rgb(255, 255, 255);
                    }

                    #text-956944229 > * {
                      color: rgb(255, 255, 255);
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
