
nz-carousel {
    height: 85vh; 
    overflow: hidden;
  }
  
  nz-carousel img {
    height: 100%; 
    width: auto;
    object-fit: contain; 
  }
  nz-carousel button {
    z-index: 100;
    color: black;
  }
  
  [nz-carousel-content] {
  
    background: #fff;
  
  }
  