<main id="main" class="">
  <div id="content" role="main" class="content-area">
    <div class="banner has-hover" id="banner-1260300859">
      <div class="banner-inner fill">
        <div class="banner-bg fill">
          <div class="bg fill bg-fill bg-loaded"></div>
          <div class="overlay"></div>
        </div>

        <div class="banner-layers container">
          <div class="fill banner-link"></div>

          <div
            id="text-box-1963855149"
            class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text"
          >
            <div class="text-box-content text dark">
              <div class="text-inner text-center">
                <div id="text-1282824850" class="text">
                  <h1 class="uppercase">Thiết kế – thi công nội thất</h1>
                  <p>
                    <strong
                      >Mang đến cho bạn một không gian sống sang trọng và đẳng
                      cấp</strong
                    >
                  </p>

                  <style>
                    #text-1282824850 {
                      font-size: 0.75rem;
                    }
                  </style>
                </div>

                <a
                  href="tel:+84948556333"
                  target="_self"
                  class="button alert is-xlarge box-shadow-2"
                  style="border-radius: 99px"
                >
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>Liên hệ ngay: 0985.707.520</span>
                </a>
              </div>
            </div>

            <style>
              #text-box-1963855149 {
                width: 60%;
              }

              #text-box-1963855149 .text-box-content {
                font-size: 100%;
              }
            </style>
          </div>
        </div>
      </div>

      <style>
        #banner-1260300859 {
          padding-top: 700px;
        }

        #banner-1260300859 .bg.bg-loaded {
          background-image: url(assets/img/design-page/post4.png);
        }

        #banner-1260300859 .overlay {
          background-color: rgba(0, 0, 0, 0.465);
        }
      </style>
    </div>

    <div id="text-2582379631" class="text">
      <p>&nbsp;</p>
      <h3>Với 10 năm kinh nghiệm trong ngành thiết kế và thi công nội thất.</h3>
      <p>
        Chúng tôi mang đến cho Quý khách hàng những sản phẩm chất lượng cao
        nhất, thẩm mỹ nhất để kiến tạo nên một không gian sống hoàn hảo cho Quý
        khách hàng…!!!
      </p>
      <p>&nbsp;</p>

      <style>
        #text-2582379631 {
          font-size: 1.5rem;
          text-align: center;
        }
      </style>
    </div>

    <div class="row row-collapse row-full-width" id="row-17597181">
      <div id="col-1119697971" class="col medium-4 large-4">
        <div class="col-inner">
          <div
            class="img has-hover x md-x lg-x y md-y lg-y"
            id="image_1780146192"
          >
            <div class="img-inner dark">
              <img
                fetchpriority="high"
                decoding="async"
                width="1020"
                height="574"
                src="assets/img/design-page/3-01-1024x576.jpg"
                class="attachment-large size-large"
                alt=""
                sizes="(max-width: 1020px) 100vw, 1020px"
              />
            </div>

            <style>
              #image_1780146192 {
                width: 100%;
              }
            </style>
          </div>
        </div>
      </div>

      <div id="col-1463168769" class="col medium-4 large-4">
        <div class="col-inner">
          <div
            class="img has-hover x md-x lg-x y md-y lg-y"
            id="image_642488701"
          >
            <div class="img-inner dark">
              <img
                decoding="async"
                width="1020"
                height="574"
                src="assets/img/design-page/3-02-1024x576.jpg"
                class="attachment-large size-large"
                alt=""
                sizes="(max-width: 1020px) 100vw, 1020px"
              />
            </div>

            <style>
              #image_642488701 {
                width: 100%;
              }
            </style>
          </div>
        </div>
      </div>

      <div id="col-444364721" class="col medium-4 large-4">
        <div class="col-inner">
          <div
            class="img has-hover x md-x lg-x y md-y lg-y"
            id="image_1094655405"
          >
            <div class="img-inner dark">
              <img
                decoding="async"
                width="1020"
                height="574"
                src="assets/img/design-page/3-03-1024x576.jpg"
                class="attachment-large size-large"
                alt=""
                sizes="(max-width: 1020px) 100vw, 1020px"
              />
            </div>

            <style>
              #image_1094655405 {
                width: 100%;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
    <div id="text-1924047747" class="text">
      <h1>&nbsp;</h1>
      <h1 style="text-align: center">THIẾT KẾ VÀ THI CÔNG NỘI THẤT TRỌN GÓI</h1>

      <style>
        #text-1924047747 {
          font-size: 1.9rem;
          color: rgb(154, 1, 1);
        }

        #text-1924047747 > * {
          color: rgb(154, 1, 1);
        }
      </style>
    </div>
    <div class="slider-wrapper relative" id="slider-1183383840">
      <div
        class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal is-draggable flickity-enabled"
      >
        <nz-carousel nzAutoPlay #carousel>
          <!-- @for (text of array; track text) { -->
          <!-- <div nz-carousel-content>
          <h3>{{ text }}</h3>
        </div> -->

          <img
            *ngFor="let text of array"
            nz-carousel-content
            fetchpriority="high"
            decoding="async"
            [src]="'assets/img/design-page/' + text"
            alt=""
            class="attachment-original size-original"
            style="z-index: 100; max-width: 2560px"
          />
          <!-- } -->
        </nz-carousel>
        <button
          class="flickity-button flickity-prev-next-button previous"
          type="button"
          aria-label="Previous"
          (click)="previous()"
        >
          <svg class="flickity-button-icon" viewBox="0 0 100 100">
            <path
              d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
              class="arrow"
            ></path>
          </svg></button
        ><button
          class="flickity-button flickity-prev-next-button next"
          type="button"
          aria-label="Next"
          (click)="next()"
        >
          <svg class="flickity-button-icon" viewBox="0 0 100 100">
            <path
              d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
              class="arrow"
              transform="translate(100, 100) rotate(180) "
            ></path>
          </svg>
        </button>
      </div>
      <div class="loading-spin dark large centered" style="display: none"></div>
    </div>

    <div id="text-1166415368" class="text">
      <h1>&nbsp;</h1>
      <h1>THIẾT KẾ VÀ THI CÔNG SẢN PHẨM NỘI THẤT THEO YÊU CẦU</h1>
      <p>&nbsp;</p>

      <style>
        #text-1166415368 {
          font-size: 1.65rem;
          text-align: center;
          color: rgb(142, 0, 0);
        }

        #text-1166415368 > * {
          color: rgb(142, 0, 0);
        }
      </style>
    </div>

    <div class="row" id="row-1076442805">
      <div id="col-1438871823" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div class="slider-wrapper relative" id="slider-1329095688">
            <div
              class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal is-draggable flickity-enabled"
              data-flickity-options='{
                "cellAlign": "center",
                "imagesLoaded": true,
                "lazyLoad": 1,
                "freeScroll": false,
                "wrapAround": true,
                "autoPlay": 6000,
                "pauseAutoPlayOnHover" : true,
                "prevNextButtons": true,
                "contain" : true,
                "adaptiveHeight" : true,
                "dragThreshold" : 10,
                "percentPosition": true,
                "pageDots": true,
                "rightToLeft": false,
                "draggable": true,
                "selectedAttraction": 0.1,
                "parallax" : 0,
                "friction": 0.6        }'
              tabindex="0"
            >
              <div
                class="flickity-viewport"
                style="height: 411.094px; touch-action: pan-y"
              >
                <div
                  class="flickity-slider"
                  style="left: 0px; transform: translateX(-100%)"
                >
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_450652463"
                    style="position: absolute; left: 0%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/5-03-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_450652463 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y is-selected"
                    id="image_1482246607"
                    style="position: absolute; left: 100%"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/5-02-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_1482246607 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_492886692"
                    style="position: absolute; left: 200%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/5-01-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_492886692 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_570368755"
                    style="position: absolute; left: 300%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/5-05-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_570368755 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_986945767"
                    style="position: absolute; left: 400%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/5-01-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_986945767 {
                        width: 100%;
                      }
                    </style>
                  </div>
                </div>
              </div>
              <button
                class="flickity-button flickity-prev-next-button previous"
                type="button"
                aria-label="Previous"
              >
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path
                    d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                    class="arrow"
                  ></path>
                </svg></button
              ><button
                class="flickity-button flickity-prev-next-button next"
                type="button"
                aria-label="Next"
              >
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path
                    d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                    class="arrow"
                    transform="translate(100, 100) rotate(180) "
                  ></path>
                </svg>
              </button>
              <ol class="flickity-page-dots">
                <li class="dot" aria-label="Page dot 1"></li>
                <li
                  class="dot is-selected"
                  aria-label="Page dot 2"
                  aria-current="step"
                ></li>
                <li class="dot" aria-label="Page dot 3"></li>
                <li class="dot" aria-label="Page dot 4"></li>
                <li class="dot" aria-label="Page dot 5"></li>
              </ol>
            </div>

            <div
              class="loading-spin dark large centered"
              style="display: none"
            ></div>
          </div>
        </div>
      </div>

      <div id="col-1919670180" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div id="text-754902353" class="text">
            <h1 style="text-align: center">TỦ BẾP</h1>

            <style>
              #text-754902353 {
                font-size: 1.8rem;
                color: rgb(216, 0, 0);
              }

              #text-754902353 > * {
                color: rgb(216, 0, 0);
              }
            </style>
          </div>

          <p>
            Không phải tự nhiên phòng bếp được coi là trái tim của ngôi nhà. Vì
            đó là nơi bắt nguồn và nhân rộng tình yêu thương giữa các thành viên
            trong gia đình. Bếp có đỏ lửa, không gian mới trở nên ấm cúng.
          </p>
          <p>
            Hiện nay, không chỉ dừng ở việc đáp ứng nhu cầu nấu nướng, mà còn
            được rất nhiều gia chủ đầu tư về cả hình thức và chất lượng. Một căn
            bếp đẹp, sang trọng, hiện đại, tiện nghi và đáp ứng đầy đủ nhu cầu
            sinh hoạt ăn uống của các thành viên trong gia đình là tiêu chí đang
            được người tiêu dùng hướng đến và lựa chọn.
          </p>
        </div>
      </div>
    </div>
    <div class="row" id="row-1230744043">
      <div id="col-693856844" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div id="text-3621586317" class="text">
            <h1>TỦ QUẦN ÁO</h1>

            <style>
              #text-3621586317 {
                font-size: 1.8rem;
                text-align: center;
                color: rgb(214, 0, 0);
              }

              #text-3621586317 > * {
                color: rgb(214, 0, 0);
              }
            </style>
          </div>

          <div dir="auto">
            Không chỉ dừng lại ở việc được làm nơi cất giữ quần áo và đồ dùng,
            tủ quần áo cũng trở thành một đồ nội thất dùng để trang trí trong
            căn phòng của bạn.&nbsp;
          </div>
          <div dir="auto">
            Kết hợp với ánh đèn, khiến cho không gian trở nên sang trọng hơn rất
            nhiều, nân tầm giá trị cho gia chủ.
          </div>
        </div>
      </div>

      <div id="col-936295125" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div class="slider-wrapper relative" id="slider-704361200">
            <div
              class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal is-draggable flickity-enabled"
              data-flickity-options='{
                "cellAlign": "center",
                "imagesLoaded": true,
                "lazyLoad": 1,
                "freeScroll": false,
                "wrapAround": true,
                "autoPlay": 6000,
                "pauseAutoPlayOnHover" : true,
                "prevNextButtons": true,
                "contain" : true,
                "adaptiveHeight" : true,
                "dragThreshold" : 10,
                "percentPosition": true,
                "pageDots": true,
                "rightToLeft": false,
                "draggable": true,
                "selectedAttraction": 0.1,
                "parallax" : 0,
                "friction": 0.6        }'
              tabindex="0"
            >
              <div
                class="flickity-viewport"
                style="height: 338.906px; touch-action: pan-y"
              >
                <div
                  class="flickity-slider"
                  style="left: 0px; transform: translateX(-200%)"
                >
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_1418277639"
                    style="position: absolute; left: 0%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/7-04-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_1418277639 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_25421675"
                    style="position: absolute; left: 100%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/7-05-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_25421675 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y is-selected"
                    id="image_884937206"
                    style="position: absolute; left: 200%"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/7-03-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_884937206 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_389875269"
                    style="position: absolute; left: 300%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/7-02-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_389875269 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_508360608"
                    style="position: absolute; left: 400%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/7-01-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_508360608 {
                        width: 100%;
                      }
                    </style>
                  </div>
                </div>
              </div>
              <button
                class="flickity-button flickity-prev-next-button previous"
                type="button"
                aria-label="Previous"
              >
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path
                    d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                    class="arrow"
                  ></path>
                </svg></button
              ><button
                class="flickity-button flickity-prev-next-button next"
                type="button"
                aria-label="Next"
              >
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path
                    d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                    class="arrow"
                    transform="translate(100, 100) rotate(180) "
                  ></path>
                </svg>
              </button>
              <ol class="flickity-page-dots">
                <li class="dot" aria-label="Page dot 1"></li>
                <li class="dot" aria-label="Page dot 2"></li>
                <li
                  class="dot is-selected"
                  aria-label="Page dot 3"
                  aria-current="step"
                ></li>
                <li class="dot" aria-label="Page dot 4"></li>
                <li class="dot" aria-label="Page dot 5"></li>
              </ol>
            </div>

            <div
              class="loading-spin dark large centered"
              style="display: none"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row-1722518717">
      <div id="col-1837158741" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div class="slider-wrapper relative" id="slider-1193720103">
            <div
              class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal is-draggable flickity-enabled"
              data-flickity-options='{
                "cellAlign": "center",
                "imagesLoaded": true,
                "lazyLoad": 1,
                "freeScroll": false,
                "wrapAround": true,
                "autoPlay": 6000,
                "pauseAutoPlayOnHover" : true,
                "prevNextButtons": true,
                "contain" : true,
                "adaptiveHeight" : true,
                "dragThreshold" : 10,
                "percentPosition": true,
                "pageDots": true,
                "rightToLeft": false,
                "draggable": true,
                "selectedAttraction": 0.1,
                "parallax" : 0,
                "friction": 0.6        }'
              tabindex="0"
            >
              <div
                class="flickity-viewport"
                style="height: 411.094px; touch-action: pan-y"
              >
                <div
                  class="flickity-slider"
                  style="left: 0px; transform: translateX(-100%)"
                >
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_1915014139"
                    style="position: absolute; left: 0%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/8-01-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_1915014139 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y is-selected"
                    id="image_1252518629"
                    style="position: absolute; left: 100%"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/8-02-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_1252518629 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_1301751752"
                    style="position: absolute; left: 200%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/8-04-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_1301751752 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_521020139"
                    style="position: absolute; left: 300%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/8-05-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_521020139 {
                        width: 100%;
                      }
                    </style>
                  </div>
                  <div
                    class="img has-hover x md-x lg-x y md-y lg-y"
                    id="image_2045167533"
                    style="position: absolute; left: 400%"
                    aria-hidden="true"
                  >
                    <div class="img-inner dark">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="2560"
                        height="1711"
                        src="assets/img/design-page/8-03-scaled.jpg"
                        class="attachment-original size-original"
                        alt=""
                        sizes="(max-width: 2560px) 100vw, 2560px"
                      />
                    </div>

                    <style>
                      #image_2045167533 {
                        width: 100%;
                      }
                    </style>
                  </div>
                </div>
              </div>
              <button
                class="flickity-button flickity-prev-next-button previous"
                type="button"
                aria-label="Previous"
              >
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path
                    d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                    class="arrow"
                  ></path>
                </svg></button
              ><button
                class="flickity-button flickity-prev-next-button next"
                type="button"
                aria-label="Next"
              >
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path
                    d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                    class="arrow"
                    transform="translate(100, 100) rotate(180) "
                  ></path>
                </svg>
              </button>
              <ol class="flickity-page-dots">
                <li class="dot" aria-label="Page dot 1"></li>
                <li
                  class="dot is-selected"
                  aria-label="Page dot 2"
                  aria-current="step"
                ></li>
                <li class="dot" aria-label="Page dot 3"></li>
                <li class="dot" aria-label="Page dot 4"></li>
                <li class="dot" aria-label="Page dot 5"></li>
              </ol>
            </div>

            <div
              class="loading-spin dark large centered"
              style="display: none"
            ></div>
          </div>
        </div>
      </div>

      <div id="col-81607127" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div id="text-4075903171" class="text">
            <h1>GIƯỜNG NGỦ</h1>

            <style>
              #text-4075903171 {
                font-size: 1.8rem;
                text-align: center;
                color: rgb(216, 0, 0);
              }

              #text-4075903171 > * {
                color: rgb(216, 0, 0);
              }
            </style>
          </div>

          <div dir="auto">
            Phòng ngủ là nơi mỗi người dành gần như cả một phần ba của cuộc đời
            mình để ở đó, nơi nghỉ ngơi và hồi phục năng lượng. Đây là nơi được
            xem là riêng tư nhất, nơi để bạn được là chính mình. Chính vì vậy
            cũng rất đáng để đầu tư ý tưởng cũng như tài chính cho không gian
            này.
          </div>
          <div dir="auto">
            Việc đầu tư, trang trí nội thất phòng ngủ là yếu tố quan trọng, giúp
            bảo vệ giấc ngủ và nâng cao sức khỏe cho các thành viên trong gia
            đình…!
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row-1349686759">
      <div id="col-458054923" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div id="text-647645978" class="text">
            <h1><span style="font-size: 150%">Thông Tin Liên Hệ</span></h1>
            <h3>
              Công ty Cổ phần đầu tư sản xuất nội thất Kinh Bắc<i
                class="fa-li fa fa-flag"
                aria-hidden="true"
              ></i>
            </h3>
            <ul class="fa-ul">
              <li>
                <i class="fa-li fa fa-map-marker" aria-hidden="true"></i
                >Showroom: 83 Nguyễn Xiển – Thanh Xuân – Hà Nội
              </li>
              <li>
                <i class="fa-li fa fa-phone" aria-hidden="true"></i>Điện thoại:
                0985.707.520
              </li>
              <li>
                <i class="fa-li fa fa-envelope" aria-hidden="true"></i>Email:
                noithatkinhbac68&#64;gmail.com
              </li>
              <li>
                <i class="fa-li fa fa-globe" aria-hidden="true"></i>Website:
                kinhbacfurniture.com
              </li>
              <li>
                <i class="fa-li fa fa-map-marker" aria-hidden="true"></i>Nhà máy
                1: Số 1 ngõ 2, đường Liên Mạc, Bắc Từ Liêm, Hà Nội
              </li>
              <li>
                <i class="fa-li fa fa-phone" aria-hidden="true"></i>Nhà máy 2:
                Thôn Thân Thượng – Yên Phong – Bắc Ninh<i
                  class="fa-li fa fa-fax"
                  aria-hidden="true"
                ></i>
              </li>
            </ul>

            <style>
              #text-647645978 {
                color: rgb(149, 0, 0);
              }

              #text-647645978 > * {
                color: rgb(149, 0, 0);
              }
            </style>
          </div>
        </div>
      </div>

      <div id="col-600235004" class="col medium-6 small-12 large-6">
        <div class="col-inner">
          <div id="text-1175326466" class="text">
            <h1><span style="font-size: 150%">Gửi Liên Hệ</span></h1>

            <style>
              #text-1175326466 {
                color: rgb(149, 0, 0);
              }

              #text-1175326466 > * {
                color: rgb(149, 0, 0);
              }
            </style>
          </div>

          <div class="wpcf7 js" id="wpcf7-f486-p36-o1" lang="vi" dir="ltr">
            <div class="screen-reader-response">
              <p role="status" aria-live="polite" aria-atomic="true"></p>
              <ul></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
