<main id="main" class="">
  <div class="row category-page-row">
    <div class="col large-12">
      <div class="shop-container">
        <div class="woocommerce-notices-wrapper"></div>
        <div
          class="products row row-small large-columns-4 medium-columns-3 small-columns-2"
        >
          <div
            *ngFor="let product of data"
            class="product-small col has-hover product type-product post-647 status-publish first instock product_cat-cua-go-nhua-composite product_tag-cua-go-nhua product_tag-cua-go-nhua-composite product_tag-cua-phong-tam product_tag-cua-thong-phong has-post-thumbnail shipping-taxable purchasable product-type-simple"
          >
            <div class="col-inner">
              <div class="badge-container absolute left top z-1"></div>
              <div class="product-small box">
                <div class="box-image">
                  <div class="image-fade_in_back">
                    <a
                      [href]="'/detail/' + product.url"
                      [attr.aria-label]="
                        'Xem chi tiết về ' + product.productName
                      "
                    >
                      <img
                        width="300"
                        height="300"
                        [src]="product.pic"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                        alt=""
                        decoding="async"
                        fetchpriority="high"
                        sizes="(max-width: 300px) 100vw, 300px"
                      /><img
                        width="300"
                        height="300"
                        [src]="product.hovPic"
                        class="show-on-hover absolute fill hide-for-small back-image"
                        alt=""
                        decoding="async"
                        sizes="(max-width: 300px) 100vw, 300px"
                      />
                    </a>
                  </div>
                  <div class="image-tools is-small top right show-on-hover">
                    <div class="wishlist-icon">
                      <button
                        class="wishlist-button button is-outline circle icon"
                        aria-label="Wishlist"
                      >
                        <i class="icon-heart"></i>
                      </button>
                      <div class="wishlist-popup dark">
                        <div
                          class="yith-wcwl-add-to-wishlist add-to-wishlist-647 wishlist-fragment on-first-load"
                          data-fragment-ref="647"
                          data-fragment-options='{"base_url":"","in_default_wishlist":false,"is_single":false,"show_exists":false,"product_id":647,"parent_product_id":647,"product_type":"simple","show_view":false,"browse_wishlist_text":"Browse wishlist","already_in_wishslist_text":"The product is already in your wishlist!","product_added_text":"Product added!","heading_icon":"fa-heart-o","available_multi_wishlist":false,"disable_wishlist":false,"show_count":false,"ajax_loading":false,"loop_position":"after_add_to_cart","item":"add_to_wishlist"}'
                        >
                          <!-- ADD TO WISHLIST -->

                          <div class="yith-wcwl-add-button">
                            <a
                              [href]="product.productUrl"
                              class="add_to_wishlist single_add_to_wishlist"
                              data-product-id="647"
                              data-product-type="simple"
                              data-original-product-id="647"
                              data-title="Add to wishlist"
                              rel="nofollow"
                            >
                              <i
                                class="yith-wcwl-icon fa fa-heart-o"
                                aria-hidden="true"
                              ></i>
                              <span>Add to wishlist</span>
                            </a>
                          </div>

                          <!-- COUNT TEXT -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="image-tools is-small hide-for-small bottom left show-on-hover"
                  ></div>
                  <div
                    class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"
                  >
                    <a
                      class="quick-view quick-view-added"
                      data-prod="647"
                      href="https://kinhbacfurniture.com/cua-hang/#quick-view"
                      >Quick View</a
                    >
                  </div>
                </div>

                <div
                  class="box-text box-text-products flex-row align-top grid-style-3 flex-wrap"
                >
                  <div class="title-wrapper">
                    <p
                      class="category uppercase is-smaller no-text-overflow product-cat op-7"
                    >
                      {{ typeText(product.productType) }}
                    </p>
                    <p
                      class="name product-title woocommerce-loop-product__title"
                    >
                      <a
                        [href]="product.url"
                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                        >{{ product.productName }}</a
                      >
                    </p>
                  </div>
                  <div class="price-wrapper">
                    <span class="price"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          >{{
                            product.productPrice | number : "1.0-0"
                          }}&nbsp;<span class="woocommerce-Price-currencySymbol"
                            >₫</span
                          ></bdi
                        ></span
                      ></span
                    >
                  </div>
                  <div class="add-to-cart-button">
                    <a
                      href="https://kinhbacfurniture.com/cua-hang/?add-to-cart=647"
                      data-quantity="1"
                      class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-outline"
                      data-product_id="647"
                      data-product_sku="KB 01"
                      aria-label="Thêm “Cửa Composite KB_01” vào giỏ hàng"
                      aria-describedby=""
                      rel="nofollow"
                      >Thêm vào giỏ hàng</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="container">
          <nav class="woocommerce-pagination">
            <ul class="page-numbers nav-pagination links text-center">
              <li>
                <span aria-current="page" class="page-number current">1</span>
              </li>
              <li>
                <a
                  class="page-number"
                  href="https://kinhbacfurniture.com/cua-hang/page/2/"
                  >2</a
                >
              </li>
              <li>
                <a
                  class="next page-number"
                  href="https://kinhbacfurniture.com/cua-hang/page/2/"
                  ><i class="icon-angle-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
        <div
          id="gap-1330399530"
          class="gap-element clearfix"
          style="display: block; height: auto"
        >
          <style>
            #gap-1330399530 {
              padding-top: 30px;
            }
          </style>
        </div>

        <div class="container section-title-container">
          <h3 class="section-title section-title-center">
            <b></b><span class="section-title-main">Sản phẩm vừa xem</span
            ><b></b>
          </h3>
        </div>

        <p></p>
        <div id="cpd-recently--wrap">
          <div class="cpd-container">
            <div
              class="row large-columns-4 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-reveal slider-nav-push"
              data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'
            >
              <div
                class="product-small col has-hover product type-product post-629 status-publish first instock product_cat-cua-go-nhua-composite product_tag-cua-go-nhua product_tag-cua-go-nhua-composite product_tag-cua-phong-tam product_tag-cua-thong-phong has-post-thumbnail shipping-taxable purchasable product-type-simple"
              >
                <div class="col-inner">
                  <div class="badge-container absolute left top z-1"></div>
                  <div class="product-small box">
                    <div class="box-image">
                      <div class="image-fade_in_back">
                        <a
                          href="#cua-cong-nghiep-mau-04/"
                          aria-label="Cửa Composite KB_10 SA"
                        >
                          <img
                            width="300"
                            height="300"
                            src="/assets/img/product-page/KB-10-SA-01-300x300.jpg"
                            class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            sizes="(max-width: 300px) 100vw, 300px"
                          /><img
                            width="300"
                            height="300"
                            src="/assets/img/product-page/1-01-300x300.jpg"
                            class="show-on-hover absolute fill hide-for-small back-image"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            sizes="(max-width: 300px) 100vw, 300px"
                          />
                        </a>
                      </div>
                      <div class="image-tools is-small top right show-on-hover">
                        <div class="wishlist-icon">
                          <button
                            class="wishlist-button button is-outline circle icon"
                            aria-label="Wishlist"
                          >
                            <i class="icon-heart"></i>
                          </button>
                          <div class="wishlist-popup dark">
                            <div
                              class="yith-wcwl-add-to-wishlist add-to-wishlist-629 wishlist-fragment on-first-load"
                              data-fragment-ref="629"
                              data-fragment-options='{"base_url":"","in_default_wishlist":false,"is_single":false,"show_exists":false,"product_id":629,"parent_product_id":629,"product_type":"simple","show_view":false,"browse_wishlist_text":"Browse wishlist","already_in_wishslist_text":"The product is already in your wishlist!","product_added_text":"Product added!","heading_icon":"fa-heart-o","available_multi_wishlist":false,"disable_wishlist":false,"show_count":false,"ajax_loading":false,"loop_position":"after_add_to_cart","item":"add_to_wishlist"}'
                            >
                              <!-- ADD TO WISHLIST -->

                              <div class="yith-wcwl-add-button">
                                <a
                                  href="https://kinhbacfurniture.com/cua-hang/?add_to_wishlist=629&amp;_wpnonce=d1483e73b5"
                                  class="add_to_wishlist single_add_to_wishlist"
                                  data-product-id="629"
                                  data-product-type="simple"
                                  data-original-product-id="629"
                                  data-title="Add to wishlist"
                                  rel="nofollow"
                                >
                                  <i
                                    class="yith-wcwl-icon fa fa-heart-o"
                                    aria-hidden="true"
                                  ></i>
                                  <span>Add to wishlist</span>
                                </a>
                              </div>

                              <!-- COUNT TEXT -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="image-tools is-small hide-for-small bottom left show-on-hover"
                      ></div>
                      <div
                        class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"
                      >
                        <a
                          class="quick-view quick-view-added"
                          data-prod="629"
                          href="https://kinhbacfurniture.com/cua-hang/#quick-view"
                          >Quick View</a
                        >
                      </div>
                    </div>

                    <div
                      class="box-text box-text-products flex-row align-top grid-style-3 flex-wrap"
                    >
                      <div class="title-wrapper">
                        <p
                          class="category uppercase is-smaller no-text-overflow product-cat op-7"
                        >
                          Cửa gỗ nhựa Composite
                        </p>
                        <p
                          class="name product-title woocommerce-loop-product__title"
                        >
                          <a
                            href="#cua-cong-nghiep-mau-04/"
                            class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                            >Cửa Composite KB_10 SA</a
                          >
                        </p>
                      </div>
                      <div class="price-wrapper">
                        <span class="price"
                          ><span class="woocommerce-Price-amount amount"
                            ><bdi
                              >3,250,000&nbsp;<span
                                class="woocommerce-Price-currencySymbol"
                                >₫</span
                              ></bdi
                            ></span
                          ></span
                        >
                      </div>
                      <div class="add-to-cart-button">
                        <a
                          href="https://kinhbacfurniture.com/cua-hang/?add-to-cart=629"
                          data-quantity="1"
                          class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-outline"
                          data-product_id="629"
                          data-product_sku=""
                          aria-label="Thêm “Cửa Composite KB_10 SA” vào giỏ hàng"
                          aria-describedby=""
                          rel="nofollow"
                          >Thêm vào giỏ hàng</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p></p>

        <div class="row large-columns-2 medium-columns-1 small-columns-1">
          <div class="col post-item">
            <div class="col-inner">
              <div
                class="box box-normal box-text-bottom box-blog-post has-hover"
              >
                <div class="box-image">
                  <div class="image-cover" style="padding-top: 56.25%">
                    <a
                      href="https://kinhbacfurniture.com/2024/05/16/cong-trinh-duong-van-be-hoang-mai/"
                      class="plain"
                      aria-label="CÔNG TRÌNH DƯƠNG VĂN BÉ – HOÀNG MAI"
                    >
                      <img
                        width="225"
                        height="300"
                        src="/assets/img/product-page/441312691_320492447738928_5030056107160077507_n-225x300.jpg"
                        class="attachment-medium size-medium wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        sizes="(max-width: 225px) 100vw, 225px"
                      />
                    </a>
                  </div>
                </div>
                <div class="box-text text-center">
                  <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large">
                      <a
                        href="https://kinhbacfurniture.com/2024/05/16/cong-trinh-duong-van-be-hoang-mai/"
                        class="plain"
                        >CÔNG TRÌNH DƯƠNG VĂN BÉ – HOÀNG MAI</a
                      >
                    </h5>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt">
                      Lắp đặt và nghiệm thu sản phẩm cửa Composite KB Door cánh
                      chỉ sơn tại [...]
                    </p>
                  </div>
                </div>
                <div class="badge absolute top post-date badge-outline">
                  <div class="badge-inner">
                    <span class="post-date-day">16</span><br />
                    <span class="post-date-month is-xsmall">Th5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col post-item">
            <div class="col-inner">
              <div
                class="box box-normal box-text-bottom box-blog-post has-hover"
              >
                <div class="box-image">
                  <div class="image-cover" style="padding-top: 56.25%">
                    <a
                      href="https://kinhbacfurniture.com/2024/05/08/ly-do-nen-chon-cua-go-composite/"
                      class="plain"
                      aria-label="LÝ DO NÊN CHỌN CỬA GỖ COMPOSITE"
                    >
                      <img
                        width="300"
                        height="300"
                        src="/assets/img/product-page/386067336_187252144396293_425490963523801210_n-300x300.jpg"
                        class="attachment-medium size-medium wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        sizes="(max-width: 300px) 100vw, 300px"
                      />
                    </a>
                  </div>
                </div>
                <div class="box-text text-center">
                  <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large">
                      <a
                        href="https://kinhbacfurniture.com/2024/05/08/ly-do-nen-chon-cua-go-composite/"
                        class="plain"
                        >LÝ DO NÊN CHỌN CỬA GỖ COMPOSITE</a
                      >
                    </h5>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt">
                      Trở thành sản phẩm được ưa chuộng để lắp đặt cho cửa thông
                      phòng và [...]
                    </p>
                  </div>
                </div>
                <div class="badge absolute top post-date badge-outline">
                  <div class="badge-inner">
                    <span class="post-date-day">08</span><br />
                    <span class="post-date-month is-xsmall">Th5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col post-item">
            <div class="col-inner">
              <div
                class="box box-normal box-text-bottom box-blog-post has-hover"
              >
                <div class="box-image">
                  <div class="image-cover" style="padding-top: 56.25%">
                    <a
                      href="https://kinhbacfurniture.com/2024/04/23/nhung-dieu-can-biet-ve-cua-go-nhua-composite/"
                      class="plain"
                      aria-label="NHỮNG ĐIỀU CẦN BIẾT VỀ CỬA GỖ NHỰA COMPOSITE"
                    >
                      <img
                        width="300"
                        height="259"
                        src="/assets/img/product-page/433622897_291488830639290_1165563850270327400_n-300x259.jpg"
                        class="attachment-medium size-medium wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        sizes="(max-width: 300px) 100vw, 300px"
                      />
                    </a>
                  </div>
                </div>
                <div class="box-text text-center">
                  <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large">
                      <a
                        href="https://kinhbacfurniture.com/2024/04/23/nhung-dieu-can-biet-ve-cua-go-nhua-composite/"
                        class="plain"
                        >NHỮNG ĐIỀU CẦN BIẾT VỀ CỬA GỖ NHỰA COMPOSITE</a
                      >
                    </h5>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt">
                      Được sản xuất với 2 nguyên liệu chính là bột gỗ và bột
                      nhựa, kết [...]
                    </p>
                  </div>
                </div>
                <div class="badge absolute top post-date badge-outline">
                  <div class="badge-inner">
                    <span class="post-date-day">23</span><br />
                    <span class="post-date-month is-xsmall">Th4</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col post-item">
            <div class="col-inner">
              <div
                class="box box-normal box-text-bottom box-blog-post has-hover"
              >
                <div class="box-image">
                  <div class="image-cover" style="padding-top: 56.25%">
                    <a
                      href="https://kinhbacfurniture.com/2024/04/19/cong-trinh-bac-giang/"
                      class="plain"
                      aria-label="CÔNG TRÌNH BẮC GIANG"
                    >
                      <img
                        width="300"
                        height="300"
                        src="/assets/img/product-page/401588885_211921415262699_1755972951023720929_n-300x300.jpg"
                        class="attachment-medium size-medium wp-post-image"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        sizes="(max-width: 300px) 100vw, 300px"
                      />
                    </a>
                  </div>
                </div>
                <div class="box-text text-center">
                  <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large">
                      <a
                        href="https://kinhbacfurniture.com/2024/04/19/cong-trinh-bac-giang/"
                        class="plain"
                        >CÔNG TRÌNH BẮC GIANG</a
                      >
                    </h5>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt">
                      Lắp đặt và nghiệm thu sản phẩm cửa Composite KB Door cánh
                      trơn phẳng lắp [...]
                    </p>
                  </div>
                </div>
                <div class="badge absolute top post-date badge-outline">
                  <div class="badge-inner">
                    <span class="post-date-day">19</span><br />
                    <span class="post-date-month is-xsmall">Th4</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- shop container -->
    </div>
  </div>
</main>
