<div class="cpd-after-woocommerce">
  <div
    class="shop-page-title category-page-title page-title featured-title dark"
  >
    <div class="page-title-bg fill">
      <div
        class="title-bg fill bg-fill parallax-active"
        data-parallax-fade="true"
        data-parallax="-2"
        data-parallax-background=""
        data-parallax-container=".page-title"
        style="
          height: 373.556px;
          transform: translate3d(0px, -10.94px, 0px);
          backface-visibility: hidden;
        "
      ></div>
      <div class="title-overlay fill"></div>
    </div>

    <div class="page-title-inner flex-row medium-flex-wrap container">
      <div class="flex-col flex-grow medium-text-center">
        <div class="is-large">
          <nav class="woocommerce-breadcrumb breadcrumbs">
            <a href="/">Home</a>
            <span class="divider">/</span> Sản Phẩm
            <span *ngIf="productType" class="divider"
              >/ {{ typeText(productType) }}</span
            >
          </nav>
        </div>
      </div>

      <div class="flex-col medium-text-center form-flat">
        <p class="woocommerce-result-count hide-for-medium">
          Showing 1–24 of 27 results
        </p>
        <form class="woocommerce-ordering" method="get">
          <select name="orderby" class="orderby" aria-label="Shop order">
            <option value="menu_order" selected="selected">
              Default sorting
            </option>
            <option value="popularity">Sort by popularity</option>
            <option value="date">Sort by latest</option>
            <option value="price">Sort by price: low to high</option>
            <option value="price-desc">Sort by price: high to low</option>
          </select>
          <input type="hidden" name="paged" value="1" />
        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <section class="section" id="section_1397174845">
    <div class="bg section-bg fill bg-fill bg-loaded">
      <div class="section-bg-overlay absolute fill"></div>
    </div>

    <div class="section-content relative">
      <div class="row" id="row-1891319787">
        <div id="col-1686028323" class="col small-12 large-12">
          <div class="col-inner">
            <div id="text-386218430" class="text">
              <h3>CHỌN NỘI THẤT CAO CẤP KINH BẮC BẠN ĐƯỢC GÌ?</h3>

              <style>
                #text-386218430 {
                  text-align: center;
                  color: rgb(255, 255, 255);
                }

                #text-386218430 > * {
                  color: rgb(255, 255, 255);
                }
              </style>
            </div>

            <div id="text-1518354260" class="text">
              <p>Đến với chúng tôi. Bạn sẽ nhận được nhưng sản phẩm</p>
              <p>
                chất lượng tốt nhất -mẫu mã đẹp nhất - giá thành rẻ nhất - dịch
                vụ chăm sóc khách hàng chu đáo.
              </p>

              <style>
                #text-1518354260 {
                  font-size: 1rem;
                  line-height: 0.85;
                  text-align: center;
                  color: rgb(255, 255, 255);
                }

                #text-1518354260 > * {
                  color: rgb(255, 255, 255);
                }
              </style>
            </div>

            <div
              id="gap-1141535111"
              class="gap-element clearfix"
              style="display: block; height: auto"
            >
              <style>
                #gap-1141535111 {
                  padding-top: 5px;
                }
              </style>
            </div>

            <div class="row" id="row-1926852385">
              <div id="col-294430046" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                  <div
                    class="icon-box featured-box icon-box-center text-center"
                  >
                    <div class="icon-box-img" style="width: 60px">
                      <div class="icon">
                        <div
                          class="icon-inner"
                          style="color: rgba(206, 25, 25, 0)"
                        >
                          <img
                            width="300"
                            height="300"
                            src="assets/img/product-page/guarantee-10years-300x300.png"
                            class="attachment-medium size-medium"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            sizes="auto, (max-width: 300px) 100vw, 300px"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="icon-box-text last-reset">
                      <div id="text-2023736268" class="text">
                        <h3>Bảo hành đến 10 năm chất lượng</h3>

                        <style>
                          #text-2023736268 {
                            color: rgb(255, 255, 255);
                          }

                          #text-2023736268 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>

                      <div id="text-547049782" class="text">
                        <p>
                          Được sản xuất từ nguyên vật liệu thân thiện môi trường
                          và có độ bền cao.
                        </p>

                        <style>
                          #text-547049782 {
                            color: rgb(255, 255, 255);
                          }

                          #text-547049782 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="col-1327405943" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                  <div
                    class="icon-box featured-box icon-box-center text-center"
                  >
                    <div class="icon-box-img" style="width: 60px">
                      <div class="icon">
                        <div
                          class="icon-inner"
                          style="color: rgba(206, 25, 25, 0)"
                        >
                          <img
                            width="300"
                            height="300"
                            src="assets/img/product-page/graphic-design-300x300.png"
                            class="attachment-medium size-medium"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            sizes="auto, (max-width: 300px) 100vw, 300px"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="icon-box-text last-reset">
                      <div id="text-4117511449" class="text">
                        <h3>Đo đạc và thiết kế theo yêu cầu</h3>

                        <style>
                          #text-4117511449 {
                            color: rgb(255, 255, 255);
                          }

                          #text-4117511449 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>

                      <div id="text-1474429046" class="text">
                        <p>Luôn luôn đo đạc chính xác, tỉ mỉ.</p>

                        <style>
                          #text-1474429046 {
                            color: rgb(255, 255, 255);
                          }

                          #text-1474429046 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="col-1377704467" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                  <div
                    class="icon-box featured-box icon-box-center text-center"
                  >
                    <div class="icon-box-img" style="width: 60px">
                      <div class="icon">
                        <div
                          class="icon-inner"
                          style="color: rgba(206, 25, 25, 0)"
                        >
                          <img
                            width="300"
                            height="300"
                            src="assets/img/product-page/shopping-cart-300x300.png"
                            class="attachment-medium size-medium"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            sizes="auto, (max-width: 300px) 100vw, 300px"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="icon-box-text last-reset">
                      <div id="text-710375649" class="text">
                        <h3>Tư vấn chu đáo</h3>

                        <style>
                          #text-710375649 {
                            color: rgb(255, 255, 255);
                          }

                          #text-710375649 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>

                      <div id="text-4086485860" class="text">
                        <p>
                          Tư vấn miễn phí, chuyên nghiệp, nhằm mang đến dịch vụ
                          tốt nhất cho khách hàng.
                        </p>

                        <style>
                          #text-4086485860 {
                            color: rgb(255, 255, 255);
                          }

                          #text-4086485860 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="col-890679031" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                  <div
                    class="icon-box featured-box icon-box-center text-center"
                  >
                    <div class="icon-box-img" style="width: 60px">
                      <div class="icon">
                        <div
                          class="icon-inner"
                          style="color: rgba(206, 25, 25, 0)"
                        >
                          <img
                            width="300"
                            height="300"
                            src="assets/img/product-page/tags-300x300.png"
                            class="attachment-medium size-medium"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            sizes="auto, (max-width: 300px) 100vw, 300px"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="icon-box-text last-reset">
                      <div id="text-3751791778" class="text">
                        <h3>Giá tại xưởng không qua trung gian</h3>

                        <style>
                          #text-3751791778 {
                            color: rgb(255, 255, 255);
                          }

                          #text-3751791778 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>

                      <div id="text-2628256355" class="text">
                        <p>
                          Sở hữu 02 nhà máy sản xuất với số lượng lớn, đáp ứng
                          mọi nhu cầu của khách hàng.
                        </p>

                        <style>
                          #text-2628256355 {
                            color: rgb(255, 255, 255);
                          }

                          #text-2628256355 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="col-37277766" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                  <div
                    class="icon-box featured-box icon-box-center text-center"
                  >
                    <div class="icon-box-img" style="width: 60px">
                      <div class="icon">
                        <div
                          class="icon-inner"
                          style="color: rgba(206, 25, 25, 0)"
                        >
                          <img
                            width="300"
                            height="300"
                            src="assets/img/product-page/experience-300x300.png"
                            class="attachment-medium size-medium"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            sizes="auto, (max-width: 300px) 100vw, 300px"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="icon-box-text last-reset">
                      <div id="text-3297561108" class="text">
                        <h3>Hơn 10 năm kinh nghiệm trong ngành</h3>

                        <style>
                          #text-3297561108 {
                            color: rgb(255, 255, 255);
                          }

                          #text-3297561108 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>

                      <div id="text-2146451789" class="text">
                        <p>
                          Có nhiều năm kinh nghiệm thi công các hạng mục công
                          trình: nhà phố, chung cư, biệt thư,... và tham gia vào
                          các dự án lớn.
                        </p>

                        <style>
                          #text-2146451789 {
                            color: rgb(255, 255, 255);
                          }

                          #text-2146451789 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="col-480326612" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                  <div
                    class="icon-box featured-box icon-box-center text-center"
                  >
                    <div class="icon-box-img" style="width: 60px">
                      <div class="icon">
                        <div
                          class="icon-inner"
                          style="color: rgba(206, 25, 25, 0)"
                        >
                          <img
                            width="300"
                            height="300"
                            src="assets/img/product-page/guarantee-300x300.png"
                            class="attachment-medium size-medium"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            sizes="auto, (max-width: 300px) 100vw, 300px"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="icon-box-text last-reset">
                      <div id="text-43393873" class="text">
                        <h3>Bảo hành 1 năm phụ kiện</h3>

                        <style>
                          #text-43393873 {
                            color: rgb(255, 255, 255);
                          }

                          #text-43393873 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>

                      <div id="text-3011383930" class="text">
                        <p>Luôn sử dụng những phụ kiện chất lượng nhất.</p>

                        <style>
                          #text-3011383930 {
                            color: rgb(255, 255, 255);
                          }

                          #text-3011383930 > * {
                            color: rgb(255, 255, 255);
                          }
                        </style>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
      #section_1397174845 {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      #section_1397174845 .section-bg-overlay {
        background-color: rgba(0, 0, 0, 0.703);
      }

      #section_1397174845 .section-bg.bg-loaded {
        background-image: url(/assets/img/layout-page/ban-an.png);
      }
    </style>
  </section>
</div>
