<div class="page-inner">
  <p>
    <strong
      ><span
        ><span><a routerLink="/">Trang chủ</a></span> /
        <span class="breadcrumb_last" aria-current="page">Tin tức</span></span
      ></strong
    >
  </p>

  <div class="row large-columns-1 medium-columns-1 small-columns-1">
    <div *ngIf="data" class="col post-item">
      <div class="col-inner">
        <div class="box box-shade dark box-text-bottom box-blog-post has-hover">
          <div class="box-image">
            <div class="image-cover" style="padding-top: 56.25%">
              <a
                [routerLink]="'/blog/' + data[0].name"
                class="plain"
                [attr.aria-label]="data[0].title"
              >
                <img
                  fetchpriority="high"
                  decoding="async"
                  width="769"
                  height="1024"
                  [src]="'assets/img/news-page/' + data[0].img"
                  class="attachment-large size-large wp-post-image"
                  alt=""
                  sizes="(max-width: 769px) 100vw, 769px"
                />
              </a>
              <div class="shade"></div>
            </div>
          </div>
          <div class="box-text text-left">
            <div class="box-text-inner blog-post-inner">
              <h5 class="post-title is-large">
                <a [routerLink]="data[0].name" class="plain">{{
                  data[0].title
                }}</a>
              </h5>
              <div class="post-meta is-small op-8">
                {{ data[0].date }} Tháng {{ data[0].month }}, 2024
              </div>
              <div class="is-divider"></div>
              <p class="from_the_blog_excerpt">
                {{ truncateWithWordBoundary(data[0].desc, 50) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="data"
    class="row large-columns-2 medium-columns-1 small-columns-1"
  >
    <div *ngFor="let news of data" class="col post-item">
      <div class="col-inner">
        <div class="box box-normal box-text-bottom box-blog-post has-hover">
          <div class="box-image">
            <div class="image-cover" style="padding-top: 56.25%">
              <a
                [routerLink]="'/blog/' + news.name"
                class="plain"
                [attr.aria-label]="news.title"
              >
                <img
                  fetchpriority="high"
                  decoding="async"
                  width="769"
                  height="1024"
                  [src]="'assets/img/news-page/' + news.img"
                  class="attachment-large size-large wp-post-image"
                  alt=""
                  sizes="(max-width: 769px) 100vw, 769px"
                />
              </a>
            </div>
          </div>
          <div class="box-text text-center">
            <div class="box-text-inner blog-post-inner">
              <h5 class="post-title is-large">
                <a [routerLink]="news.name" class="plain">{{ news.title }}</a>
              </h5>
              <div class="is-divider"></div>
              <p class="from_the_blog_excerpt">
                {{ truncateWithWordBoundary(news.desc, 50) }}
              </p>
            </div>
          </div>
          <div class="badge absolute top post-date badge-outline">
            <div class="badge-inner">
              <span class="post-date-day">{{ news.date }}</span
              ><br />
              <span class="post-date-month is-xsmall">Th{{ news.month }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
